.app-container {
  background-image: url('../assets/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.home-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.design-info {
  margin: 180% 0 0 480%;
  width: 100%;
}